<div class="side-header">
  <div class="header-name">
    <a href="#">Tom</a>
  </div>
  <div class="room-create">
    <a href="#">チャットを作成する</a>
  </div>
</div>

  <div class="rooms">
    <div class="rooms-name">test-room1</div>
    <div class="rooms-name">test-room2</div>  
  </div>